@import "tailwindcss";

.shadow-icon {
  box-shadow: 2px 2px 5px #00000070;
}

.shadow-ku {
  box-shadow: 3px 3px 7px #00000070;
}

.shadow-nav {
  box-shadow: 4px 6px -30px rgba(0, 0, 0);
}

/* Warna arrow */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; /* hijau Tailwind green-500 */
}

/* Hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #facc15; /* kuning */
}
