@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

.input {
  @apply w-full border border-slate-300 rounded-md px-3 py-2
         focus:outline-none focus:ring-2 focus:ring-emerald-600;
}

.label {
  @apply text-sm font-semibold text-slate-700 mb-1 block;
}

.section {
  @apply border rounded-lg p-4 mb-4;
}

.section-title {
  @apply font-bold text-emerald-700 mb-3;
}

.el-messiri {
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.shadow-icon {
  box-shadow: 2px 2px 5px #00000070;
}

.shadow-ku {
  box-shadow: 3px 3px 7px #00000070;
}

.shadow-ja {
  box-shadow: 4px 4px 1px #e3ce70fd;
}
.shadow-jak {
  box-shadow: 2px 2px 1px rgba(226, 179, 38, 0.992);
}

.shadow-nav {
  box-shadow: 4px 6px -30px rgba(0, 0, 0);
}

/* Warna arrow */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; /* hijau Tailwind green-500 */
}

/* Hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #facc15; /* kuning */
}

@keyframes zoom {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoom 0.3s ease-out;
}
